
.mt-15 {
	margin-top: 15px;
}

.login {
	header {
		height: 60px;
		padding-top: 10px;
		padding-left: 10px;
		border-bottom: 1px solid #666;

		img {
			width: 24px;
			height: 24px;
		}
		.chat-system-text {
			font-weight: bold;
			font-size: 20px;
		}
	}
	.input-box {
		width: 360px;
		margin: 100px auto 0 auto;

		.title {
			text-align: center;
			margin-bottom: 50px;
			font-size: 16px;
		}
		.input-row {
			margin-bottom: 15px;
		}
	}
}

.chat {
	header {
		border-bottom: 1px solid #ccc;
		height: 60px;
		padding-top: 15px;
		.chat-system-text {
			font-size: 20px;
			font-weight: bold;
		}
		.login-user {
			font-size: 20px;
			font-weight: bold;
		}
		.exit {
			margin-right: 15px;
		}
	}

	.chat-box {
		border: 1px solid #dedede;
		height: 650px;
	}

	.contact-list, .message-box {
		border-right: 1px solid #dedede;
		height: 100%;
	}

	.message-box {
		.message-box-title {
			text-align: center;
			font-size: 16px;
			background-color: grey;
			height: 40px;
			padding-top: 5px;
		}
		.history-message {
			height: 400px;
			overflow-y: auto;
		}
		.send-messge-box {
			border-top: 1px solid #ccc;
			height: 200px;
			.tools {
				height: 45px;
				padding-top: 5px;
				border-bottom: 1px solid #ccc;

				.send-image-icon {
					margin-left: 10px;
					margin-top: 5px;
				}
			}
			.input-box {
				padding: 10px 15px;
				.input-wrap {
					border: 1px solid #aaa;

					textarea {
						resize: none;
						border: none;
						width: 100%;
						height: 130px;
						outline: 0;
					}
				}
				
			}
		}
	}

	.with-doctor-message-record {
		.head {
			height: 40px;
			background-color: grey;
		}
	}
}
